
header {
  background: 	#00806b;
  
  border: #00806b outset;
  font-size: 3em ;
  font-weight: bold;
  font-style:normal; color: white;
  padding:auto;
  height: auto;
  width: 100%;
  text-align:center;
  font-family: 'Fantasy' ;
  /*font-family: 'Berkshire Swash', cursive;
  font-family: 'Rouge Script', cursive;*/
  display: inline-block;
}

.container-nav    {
  background-color:	#00806b;
  width: 100%;
  height: auto;
  border:#00806b;
  border: solid;
  border-top: 0px;
  border-bottom: 0px;
  padding:auto;
  margin: 0px;
}

 nav {
  float:left;
  padding: auto;
  height: auto;
  width: 100%
}
  
  nav ul {
  
  list-style: none;
  overflow:hidden; 
  margin: 0;
  padding:0;
}
  
  nav ul li {
  float:left;
  font-family: 'Fantasy';
  /*font-family: 'Berkshire Swash', cursive;
  font-family: 'Rouge Script', cursive;*/
  font-size-adjust: inherit;
  font-weight: bold;
  font-size:1.3em;
  padding:5px;
  margin:0px;
  position: static;
}
  
  nav ul li a {
  display: block;
  padding: 5px;
  color: white;
  text-decoration:none! important;    
}

  nav ul li:hover {
  background: #05b497;
  text-decoration:none;  
}

.footer {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Amita', cursive;
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Rouge Script', cursive;
  text-align: center;
  background-color: #00806b;
  border:#00806b outset;
  padding: 20px;
  height: 150px;
  width: 100%;
  clear:both;
}

.sucursales {
  font-family: 'Amita', cursive;
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Rouge Script', cursive;
  font-size: 1.3em;
  font-weight: bold;
  margin: 1em;
  margin-bottom: 1.5em;
  float:left;
  align-items: center;   
}


.container_formularios {
  margin-top: 5em;
  font-size:1.3em;
  font-family: 'Fantasy';
  font-family: 'Fantasy';
  /* font-weight: bold; */

}

/* section {
  margin-left:28em;
  align-items: center;
  height: max-content;
  width: max-content;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px; 
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */

@media screen and (max-width: 800px) {
  .body-historia,
  .historia,
  .column
  .home {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .body-historia,
  .historia,
  .column
  .home {
    flex: 100%;
    max-width: 100%;
  }
}

.historia {
  font-family: 'Fantasy';
  
  color: white;
  font-size:1.3em;
  font-weight: bold;
  margin-top: 0% !important;
  margin-bottom: 0% !important;
  margin-left: 20%;
  margin-right:20%;
  
  
  padding-left: 15px;
  padding-right: 15px;
  padding-top: none;
  padding-bottom: none;
}

.body-historia {
  background-image: url("historia2.jpg");
  background-position:center;
  max-width:100%;
  height: auto;
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
  justify-content: center;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.body-donacionPago {
  background-image: url("fondo-donacion.jpg");
 
  background-position: center center; /* o cualquier otra posición que desees */
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}



/* @media(max-width: 768px){
  body {
    background-size: contain;
  }
} */

.donaciones {
  font-family: 'Fantasy';
  
  font-size: 1.2em;
  font-weight: bold;
  font-weight: bolder;
  text-align: center;
  object-position: center;
  border-color:#efb810;
  align-content:center;
  margin: 5px;
  margin-top: 2em;
  margin-bottom: 2em;

}

.mediosDePago {
  
  text-align: center;
  object-position: center;
  align-content:center;
  margin: 5px;
  margin-top: 2em;
  margin-bottom: 2em;

}

form 
{
  animation:animatezoom 2s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}

}


/* .carousel-inner {
  margin-left: 0em;
  display: block;
  max-width: 100%;
  height: auto;
  position:static;
  line-height: 1;
  text-align:center !important;
 
} */



.zoom{

  transition: width 0.18s, height 0.18s, transform 0.5s;
}
.zoom:hover{

  transform : scale(1.2);
}

.btn{
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #efb810;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  background: #f7f7f7;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
}
.btn .fa {
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle; 
  left: 10px;
  top: 9px;
  border-radius: 50%;
  font-size: 40px;
  background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.btn .fa:active{
  background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #d8d8d8;
}

.flip-card {
  background-color: transparent;
  width: 450px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: inline-block;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #00806b ;
  color: white;
  transform: rotateY(180deg);
}

.submit-button {
  background-color: #3498db; /* Color de fondo azul */
  color: white; /* Color del texto blanco */
  padding: 15px 30px; /* Relleno del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de puntero al pasar el ratón */
  font-size: 18px; /* Tamaño del texto */
  transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
  margin-top: 20px; /* Espacio superior al botón */
  display: block; /* Hacer que el botón sea un bloque para ajustar el ancho */
  margin-left: auto; /* Centrar el botón */
  margin-right: auto; /* Centrar el botón */
}

.submit-button:hover {
  background-color: #2980b9; /* Cambio de color al pasar el ratón */
}

.mySlides {
  display: none;
  height: 75%;
}

.padding-donacionPago{
  padding: 3rem !important; 
  position: relative;
  
}

.padding-donacionPago .card {
  background-color: rgba(255, 255, 255, 0.623); /* Color de fondo con opacidad ajustable */
  filter: grayscale(10%); /* Ajusta el porcentaje según tus preferencias */
  border-radius: 25px; /* Ajusta el radio del borde según tus preferencias */
  padding: 20px; /* Ajusta el padding según tus preferencias */
}

.padding-donacionPago .form-group label {
  font-family:Georgia, serif;
}

.padding-donacionPago #cc-cvc,
.padding-donacionPago #cc-exp {
  width: calc(50% - 5px); /* Divide el ancho disponible en dos, restando 5px para el margen entre ellos */
  display: inline-block;
  margin-right: 5px;
}

.form-control:focus {
 box-shadow: 10px 0px 0px 0px #ffffff !important;
 border-color: #4ca746;
}

.custom-button {
  background-color: #4CAF50; /* Green color */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #45a049; /* Darker green color on hover */
}