{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        
        <main class="container" style="padding: 100px;">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <form  action="/signup/" method="post" class="card card-body text center">
                        {{ error }}
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="usuario">Usuario:</label>
                            <input type="text" name="username" id="usuario" class="form-control" 
                            placeholder="Ingrese su nombre de usuario">
                        </div>
                        <div class="mb-3">
                            <label for="contraseña">Contraseña:</label>
                            <input type="text" name="pass" id="contraseña" class="form-control" 
                            placeholder="Ingrese su contraseña">
                        </div>
                        <div class="mb-3">
                            <label for="contraseña2">Confirmar contraseña:</label>
                            <input type="text" name="pass" id="contraseña2" class="form-control" 
                            placeholder="Reingrese su contraseña">
                        </div>
                        <button type="submit">
                            Registrarse
                        </button>
                    </form>
                </div>
            </div>            
        </main> 
    </body>
   

</html>

{% endblock %}