{% extends 'layouts/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">   
        <h1 style="padding: 30px;"> Bienvenid@, {{username}} </h1>
      
        <div class="container-fluid mt-5">
            <div class="card mx-auto" style="display: inline-block; width: fit-content;">
                <div class="card-body text-center">
        
                    <h4 class="card-title">Estas son las tareas pendientes:</h4>
        
                    <ul class="list-unstyled">
                        <li>
                            <h5>Inscripción a capacitaciones pendientes de confirmación: <a href="{% url 'inscripciones_detail' %}">{{ estado_cursos }}</a> 📚 </h5>
                        </li>
                        <li>
                            <h5>Recepción de Consultas y Reclamos pendientes de responder: <a href="{% url 'consulta_detail' %}">{{ estado_consultas }}</a> 📝</h5>
                        </li>
                    </ul>
        
                    <hr>
        
                    <h4 class="card-title">Estas son las solicitudes pendientes:</h4>
        
                    <ul class="list-unstyled">
                        <li>
                            <h5>Solicitudes de Adopción y Tránsito pendientes de responder: <a href="{% url 'adoptar_detail' %}">{{ estado_adopcion }}</a> 🐶🐱</h5>
                        </li>
                        <li>
                            <h5>Solicitudes de Perro Lazarillos pendientes de responder: <a href="{% url 'lazarillo_detail' %}">{{ estado_lazarillos }}</a> 🐕‍🦺 🦮</h5>
                        </li>
                        <li>
                            <h5>Solicitudes de Visitas de Colegios pendientes de responder: <a href="{% url 'visitas_detail' %}">{{ estado_visitas }}</a>🏫</h5>
                        </li>
                    </ul>
        
                </div>
            </div>
        </div>

{% endblock %}