body{
    background: gray;
    color: whitesmoke;
}

.navbar{
    background: violet;
    padding: 5px 10px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: aquamarine   ;
}

.navbar ul li {
    list-style: none;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
}
.container{
    max-width: 1200px;
    background: rebeccapurple;
    margin: auto;
    padding: 20px 10px;
}

.card {
    background: whitesmoke;
    color: black;
    padding: 10px;
    margin-bottom: 2px;

}

.input{
    background: wheat;
    padding: 10px;
    text-align: center;
    display: block;
}