
header {
  background: 	#00806b;
  
  border: #00806b outset;
  font-size: 3em ;
  font-weight: bold;
  font-style:normal; color: white;
  padding:auto;
  height: auto;
  width: 100%;
  text-align:center;
  font-family: 'Fantasy' ;
  display: inline-block;
}

.container-nav    {
  background-color:	#00806b;
  width: 100%;
  height: auto;
  border:#00806b;
  border: solid;
  border-top: 0px;
  border-bottom: 0px;
  padding:auto;
  margin: 0px;
}

 nav {
  float:left;
  padding: auto;
  height: auto;
  width: 100%
}
  
  nav ul {
  
  list-style: none;
  overflow:hidden; 
  margin: 0;
  padding:0;
}
  
  nav ul li {
  float:left;
  font-family: 'Fantasy';
  font-size-adjust: inherit;
  font-weight: bold;
  font-size:1.3em;
  padding:5px;
  margin:0px;
  position: static;
}

  nav ul li a {
  display: block;
  padding: 5px;
  color: white;
  text-decoration:none! important;    
}

  nav ul li:hover {
  background: #05b497;
  text-decoration:none;  
}

.footer {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Amita', cursive;
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Rouge Script', cursive;
  text-align: center;
  background-color: #00806b;
  border:#00806b outset;
  padding: 20px;
  height: 150px;
  width: 100%;
  clear:both;
}

.container_formularios {
  margin-top: 5em;
  font-size:1.3em;
  font-family: 'Fantasy';
}

@media screen and (max-width: 800px) {
  .body-historia,
  .historia,
  .column
  .home {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .body-historia,
  .historia,
  .column
  .home {
    flex: 100%;
    max-width: 100%;
  }
}

.historia {
  font-family: 'Fantasy';
  color: white;
  font-size:1.3em;
  font-weight: bold;
  margin-top: 0% !important;
  margin-bottom: 0% !important;
  margin-left: 20%;
  margin-right:20%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: none;
  padding-bottom: none;
}

.body-historia {
  background-image: url("historia2.jpg");
  background-position:center;
  max-width:100%;
  height: auto;
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
  justify-content: center;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.body-donacionPago {
  background-image: url("fondo-donacion.jpg");
  background-position: center center; 
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* .donaciones {
  font-family: 'Fantasy';
  font-size: 1.2em;
  font-weight: bold;
  font-weight: bolder;
  text-align: center;
  object-position: center;
  border-color:#efb810;
  align-content:center;
  margin: 5px;
  margin-top: 2em;
  margin-bottom: 2em;

} */

.mediosDePago {
  text-align: center;
  object-position: center;
  align-content:center;
  margin: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
}

form 
{
  animation:animatezoom 2s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}
}

.zoom{
  transition: width 0.18s, height 0.18s, transform 0.5s;
}
.zoom:hover{
  transform : scale(1.2);
}

/* .btn{
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #efb810;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  background: #f7f7f7;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08); 

.btn .fa {
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle; 
  left: 10px;
  top: 9px;
  border-radius: 50%;
  font-size: 40px;
  background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.btn .fa:active{
  background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #d8d8d8;
}
}*/


/* Carta giratoria */
.flip-card {
  background-color: transparent;
  width: 450px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* No borrar le da el efecto 3D al girar */
  display: inline-block;
}

/* posiciona el front y back de la carta y la centra */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* gira la carta cuando pasas el cursor por encima */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* alinea y determina el alto y ancho de la carta */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* se asegura que siga escondido en cualquier navegador */
  backface-visibility: hidden;
}

/* estilo de la carta de frente */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* estilo del back de la carta */
.flip-card-back {
  background-color: #00806b ;
  color: white;
  transform: rotateY(180deg);
}


/*estilo del boton*/
.submit-button {
  background-color: #3498db; 
  color: white; 
  padding: 15px 30px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 18px; 
  transition: background-color 0.3s; 
  margin-top: 20px; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}

.submit-button:hover {
  background-color: #2980b9; /* Cambio de color al pasar el ratón */
}

.carrouselDeFotos{
  display: none;
  height: 75%;
}

.padding-donacionPago{
  padding: 3rem !important; 
  position: relative;
  
}

.padding-donacionPago .card {
  background-color: rgba(255, 255, 255, 0.623); /* Color de fondo con opacidad ajustable */
  filter: grayscale(10%); /* Ajusta el porcentaje según tus preferencias */
  border-radius: 25px; /* Ajusta el radio del borde según tus preferencias */
  padding: 20px; /* Ajusta el padding según tus preferencias */
}

.padding-donacionPago .form-group label {
  font-family:Georgia, serif;
}

.padding-donacionPago #cc-cvc,
.padding-donacionPago #cc-exp {
  width: calc(50% - 5px); /* Divide el ancho disponible en dos, restando 5px para el margen entre ellos */
  display: inline-block;
  margin-right: 5px;
}

.form-control:focus {
 box-shadow: 10px 0px 0px 0px #ffffff !important;
 border-color: #4ca746;
}

/* botones del Home y donaciones */
.custom-button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #45a049; 
}

.botonVolver {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #3498db; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease; 
}

.corte-pagina {
  background-color: #d6cdcd; 
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 5em;
}

.formulario-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.ancho-input {
  width: 100%;
}

.w3-large-input {
  height: 150px;
}

.custom-button {
  font-size: 1rem;
}

.w3-rectangular-input {
  height: 100px; /* Ajusta la altura según tus preferencias */
}

.centrar-texto {
  text-align: center;
}

textarea.centrar-texto {
  width: 100%; /* Ajusta el ancho del textarea al 100% */
  padding: 10px; /* Ajusta el espacio interno según tus preferencias */
  box-sizing: border-box;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 80%;  /* Set a fixed width, adjust as needed */
  margin: 10px auto;  /* Add some margin for spacing */
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.change-state-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

h1, h2, form {
  text-align: center;
}
