{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/3.0.0/jquery.payment.min.js"></script>

        <link rel="stylesheet" href="/static/styles/stylesheet.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <script>
            function volverAlHome() {
                window.location.href = '{% url "home" %}';
            }
        </script>
        <button class="botonVolver" onclick="volverAlHome()">Volver</button>


        <div class="body-donacionPago" style="background-image: url('/static/home-img/fondo-donacion.jpg')">
            <div class="padding-donacionPago" style="filter: brightness(100%)">
                <div class="row">
                    <div class="container-fluid d-flex justify-content-center">
                        <div class="col-sm-8 col-md-6">
                            <div class="card" style="font-size: large;">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span style="font-family: Georgia, serif;"><h2>Ingrese los datos de su tarjeta</h2></span>
                                        </div>
                                        <div class="col-md-6 text-right" style="margin-top: -5px;">
                                            <img src="{% static 'donaciones-img/logovisa.png' %}" style="width: 1cm; height: 0.8cm; object-fit: cover; margin-right: 2px;">
                                            <img src="{% static 'donaciones-img/logomaster.png' %}" style="width: 1cm; height: 0.8cm; object-fit: cover; margin-right: 2px;">
                                            <img src="{% static 'donaciones-img/amexlogo.jpg' %}" style="width: 1cm; height: 0.8cm; object-fit: contain;">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" style="height: 500px">
                                    <div>
                                        <label for="cc-number" class="control-label">Numeros de la tarjeta</label>
                                        <input id="cc-number" type="tel" class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="&bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull;" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div>
                                                <label for="cc-exp" class="control-label">Fecha de vencimiento</label>
                                                <input id="cc-exp" type="tel" class="input-lg form-control cc-exp" autocomplete="cc-exp" placeholder="&bull;&bull; / &bull;&bull;" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                <label for="cc-cvc" class="control-label"> Codigo de seguridad </label>
                                                <input id="cc-cvc" type="tel" class="input-lg form-control cc-cvc" autocomplete="off" placeholder="&bull;&bull;&bull;&bull;" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <label for="numeric" class="control-label">Nombre de la tarjeta</label>
                                        <input id="numeric" type="text" class="input-lg form-control">
                                    </div>
                                    <div>
                                        <br>
                                        <input onclick="realizarPago()" value="Pagar" type="button" id="btnPagar" class="custom-button btn-block" style="font-size: .8rem;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección de agradecimiento -->
        <div id="agradecimiento" style="display: none; text-align: center; margin-top: 50px;">
            <h2>¡Tu generosidad hace una gran diferencia!</h2>
            <p>Ya sos parte de nuestra familia</p>
            <!-- Imagen con forma de ticket -->
            <img src="{% static 'donaciones-img/recibo.png' %}" alt="Ticket" style="max-width: 100%;">
            <p id="mensaje-recibo"></p>
        </div>

        <!-- Script para el pago -->
        <script>
            function realizarPago() {
                // Lógica de pago aquí

                // Muestra el recibo
                mostrarRecibo();

                // Desplazamiento hacia la sección de agradecimiento
                var alturaTotal = document.body.scrollHeight;
                var alturaVentana = window.innerHeight;
                var scrollTop = alturaTotal - alturaVentana;
                window.scrollTo({
                    top: scrollTop,
                    behavior: 'smooth'
                });
            }

            function mostrarRecibo() {
                console.log("Mostrando recibo...");
                var reciboElemento = document.getElementById('agradecimiento');
                reciboElemento.style.display = 'block';

            /*  var mensajeRecibo = document.getElementById('mensaje-recibo');
                mensajeRecibo.textContent = "Gracias por tu donación. ¡Eres increíble!"; */
            }
        </script>


    </body>
</html>
