{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form method="post" action="/lazarillo/" class="container_formularios" style="float:left  ; margin:2em;" >
            {% csrf_token %}

            <h2 style="text-indent: 1em;"><b>Completa el formulario para solicitar a buscar tu perro de compania.</b></h2>

            {{ form.as_p }}
            <button type="submit" colspan="2" style="text-align: center;" class="submit-button">Guardar</button>
        </form>
    </body>

</html>
{% endblock %}

