{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
    <body>
        {% if messages %}
        <div >
            <ul class="messages" style="text-align: center; padding: 10px; border: 2px solid rgb(175, 36, 36); background-color: #3cb90b; margin-top: 20xp;">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="font-size: 40px; font-weight: bold;">{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div style="max-width:2000px;margin-top:46px; ">
            <div class="carrouselDeFotos" style="height: 60vh; width: 100% ">
                <img src="{% static '/home-img/callejeros.jpg' %}" style="width:100%; height: 100% !important;object-fit: cover;">
            </div>
            <div class="carrouselDeFotos" style="height: 60vh; width: 100% !important">
                <img src="{% static '/home-img/gatosolo.jpg' %}" style="width:100%;height: 100% !important; object-fit: cover;">
            </div>
            <div class="carrouselDeFotos" style="height: 60vh; width: 100%">
                <img src="{% static '/home-img/adiestramiento-patita.jpg' %}" style="width:100% ; height: 100% !important; object-fit: cover;">
            </div>
        </div>
        <script>
            // script para que el carrousel se mueva de forma automatica cada 4 segundos
            var myIndex = 0;
            carousel();
            
            function carousel() {
              var i;
              var x = document.getElementsByClassName("carrouselDeFotos");
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
              }
              myIndex++;
              if (myIndex > x.length) {myIndex = 1}    
              x[myIndex-1].style.display = "block";  
              setTimeout(carousel, 4000);    
            }
        </script>        
        <div class="corte-pagina" style="background-color: #fcf8f3">  
                <div>
                    <label>
                        <h3>Dona hoy! salva una vida</h3>
                    </label>

                    <div>
                        <label for="donar-unavez" class="my-1 mt-0">
                            <input x-on:click="selected = 'opt1'" id="unavez" type="radio" name="plan" value="donar1" checked>
                            Donar una vez $2000
                        </label>
                        <br>

                        <label for="donar-mensual" class="my-1">
                            <input x-on:click="selected = 'opt2'" id="mensual" type="radio" name="plan" value="donarmes">
                            Donar mensual - <strong>$5000</strong>
                        </label>
                        <br>
                        <label for="donar-anual" class="my-1 mb-0">
                            <input x-on:click="selected = 'opt3'" id="anual" type="radio" name="plan" value="donaranio">
                            Donar anualmente - <strong>$60000</strong><span class="text-green-500"></span>
                        </label>
                    </div>
                </div>
                <div x-show="selected !== 'opt1'" x-cloak></div>

                <div style="padding: 2em;">
                    <a href="{% url 'donacionpago' %}"> 
                        <button id="card-button" type="button" class="submit-button">Donar</button>
                    </a>
                </div>
            </form>
        </div>    
        <div class="corte-pagina">
            <div style="padding: 3em " id="contacto-sugerencia">
                <h3 class="centrar-texto">Contactanos</h3>
                <hr>
                <p>Envianos tu pregunta o sugerencia</p>
    
                <div class="container_formularios" style="margin:1em;">
                    <form method="post" style="width: 100px; margin: 0; margin-top: 10px; text-align: center;">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" style="margin-top: 10px;">Enviar</button>
                    </form>
                </div><br>
            </div>
        </div>    
        <div>
                <img src="{% static '/home-img/paseo-perros.jpg' %}" style="filter: grayscale(50%); object-fit: cover; width:100%; height:100%;" >
        </div>
    </body>
</html>

{% endblock %}