{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
    <body>
        {% if messages %}
        <div >
            <ul class="messages" style="text-align: center; padding: 10px; border: 2px solid rgb(175, 36, 36); background-color: #3cb90b; margin-top: 20xp;">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="font-size: 40px; font-weight: bold;">{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div style="max-width:2000px;margin-top:46px; ">
            <div class="carrouselDeFotos" style="height: 60vh; width: 100% ">
                <img src="{% static '/home-img/callejeros.jpg' %}" style="width:100%; height: 100% !important;object-fit: cover;">
            </div>
            <div class="carrouselDeFotos" style="height: 60vh; width: 100% !important">
                <img src="{% static '/home-img/gatosolo.jpg' %}" style="width:100%;height: 100% !important; object-fit: cover;">
            </div>
            <div class="carrouselDeFotos" style="height: 60vh; width: 100%">
                <img src="{% static '/home-img/adiestramiento-patita.jpg' %}" style="width:100% ; height: 100% !important; object-fit: cover;">
            </div>
        </div>
        <script>
            // script para que el carrousel se mueva de forma automatica cada 4 segundos
            var myIndex = 0;
            carousel();
            
            function carousel() {
              var i;
              var x = document.getElementsByClassName("carrouselDeFotos");
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
              }
              myIndex++;
              if (myIndex > x.length) {myIndex = 1}    
              x[myIndex-1].style.display = "block";  
              setTimeout(carousel, 4000);    
            }
        </script>        
        <main class="container py-5"> 
            <section class="card card-body" >
                <form>
                    <input type="hidden" name="monto_donado" id="monto_donado" value="">
                    <div style="padding: 20px;">
                        <h1 class="display-5">Dona hoy! salva una vida</h1>
                    </div>
                    
                    <div style="padding: 10px;">
                        <label for="unavez" class="my-1 mt-0">
                            <input x-on:click="selected = 'opt1'" id="unavez" type="radio" name="plan" value="donar1" checked>
                            Donar una vez $2000
                        </label>
                        <br>
                
                        <label for="mensual" class="my-1">
                            <input x-on:click="selected = 'opt2'" id="mensual" type="radio" name="plan" value="donarmes">
                            Donar mensual - <strong>$5000</strong>
                        </label>
                        <br>
                
                        <label for="anual" class="my-1 mb-0">
                            <input x-on:click="selected = 'opt3'" id="anual" type="radio" name="plan" value="donaranio">
                            Donar anualmente - <strong>$60000</strong><span class="text-green-500"></span>
                        </label>
                    </div>
                
                    <div style="padding: 2em;">
                        <button type="button" class="submit-button" onclick="realizarPago()">Donar</button>
                    </div>
                </form>
                <script>
                    function realizarPago() {
                        window.location.href = '{% url "donacionpago" %}';
                    }
                </script>
            </section>    
        </main>    
        <div class="corte-pagina">
            <div  id="contacto-sugerencia">
                <h3 class="centrar-texto">Contactanos</h3>
                <hr>
                <h5 style="padding: 10px;">Envianos tu consulta o sugerencia</h5>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form method="post" class="card card-body text-center">
                            {{ error }}
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="nombre">Nombre:</label>
                                <input style="resize: none; justify-content: center; display: flex; text-align: center;" type="text" name="nombre" id="nombre" class="form-control" placeholder="Ingrese su nombre">
                            </div>
                            <div class="mb-3">
                                <label for="apellido">Apellido:</label>
                                <input style="resize: none; justify-content: center; display: flex; text-align: center;" type="text" name="apellido" id="apellido" class="form-control" placeholder="Ingrese su apellido">
                            </div>
                            <div class="mb-3">
                                <label for="telefono">Teléfono:</label>
                                <input style="resize: none; justify-content: center; display: flex; text-align: center;" type="text" name="telefono" id="telefono" class="form-control" placeholder="Ingrese su teléfono">
                            </div>
                            <div class="mb-3">
                                <label for="correo">E-mail:</label>
                                <input style="resize: none; justify-content: center; display: flex; text-align: center;" type="text" name="correo" id="correo" class="form-control" placeholder="Ingrese su correo electrónico">
                            </div>
                            <div class="mb-3">
                                <label for="mensaje">Deja tu mensaje:</label>
                                <textarea style="resize: none; justify-content: center; display: flex; text-align: center;" id="mensaje" name="mensaje" rows="4" class="form-control" placeholder="Escribe tu mensaje aquí"></textarea>
                            </div>
                            <div class="mb-3">
                                <label>
                                    <input type="radio" name="categoria" value="sugerencias-reclamos">
                                    Sugerencias/Reclamos
                                </label>
                                <br>
                                <label>
                                    <input type="radio" name="categoria" value="consultas">
                                    Consultas
                                </label>
                            </div>
                            <div class="mb-3">
                                <button type="submit">
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>    
        <div class="container d-flex align-items-center mt-5 mb-5 mx-auto">
            <div class="img-container rounded border p-2" style="max-width: 80%; margin-left: 100px;">
                <img src="{% static '/home-img/paseo-perros.jpg' %}" class="img-fluid" style="filter: grayscale(50%); object-fit: cover; width: 100%; height: auto;" alt="Paseo de perros">
            </div>
        </div>
        
        
        
        
    </body>
</html>

{% endblock %}