{% extends 'layouts/base.html' %}

{% block content %}


<h1>Tasks</h1>

<p>{{tasks}}</p>

{% for task in tasks %}

<div>
    <h1>{{task.title}}</h1> 
    <!--Comentario-->>
    {# note : esta es una tarea #}
    <h1>{% if task.done == False %} 🕑{% else %} ✅ {% endif %} {{task.title}}</h1>

    {% if task.done == False %} 
    <p>Tarea Pendiente</p>
    {% else %}
    <p>Tarea Realizada</p>
    {% endif %}
    
    <p>{{task.description}}</p>
    <p>Project: {{task.project}}</p>
    <button>
        Delete
    </button>
    <button>
        Done ✅
    </button>

{% endfor %}

{% endblock %}