{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
        <!-- <div class="body-historia" style="background-image: url('/static/home-img/historia.jpg');
        background-position:center;
        max-width:100%;
        height: auto;
        background-repeat: no-repeat;
        background-size:cover;
        text-align: center;
        justify-content: center;
        margin-top: 0px !important;
        margin-bottom: 0px !important;"> -->
    </body>
    <body style="margin-bottom: 0px !important;">
        <br>
        <br>
        <!-- <div class="body-historia"> -->
        <div class="body-historia" style="background-image: url('/static/home-img/historia2.jpg');
            background-position:center;
            max-width:100%;
            height: auto;
            background-repeat: no-repeat;
            background-size:cover;
            text-align: center;
            justify-content: center;
            margin-top: 0px !important;
            margin-bottom: 0px !important;">
            <p style= "text-align: justify; margin-top: 0 auto !important; margin-bottom: 0 auto !important;"  class="historia">
                <br>
                Somos Adopt-Me!<br>

                Seres apasionados por los animales, que tuvimos la suerte de trabajar en refugios, lugares de transito, hospitales veterinarios y ONGs 
                a cargo del cuidado de animales sin hogar. Nuestra trayectoria dentro de diferentes instituciones nos llevo a concientizar sobre el dia a dia
                y la realidad de los animales que esperan ser adoptados asi tambien como los perdidos que nunca vuelven a reencontrarse con sus dueños. 
                Sabemos que las posibilidades que tiene un animal en esta situación es muy limitada, esta fue la razon que nos motivo a querer ayudarlos
                y garantizarles un futuro mas prometedor. 
                <br>

                Asi es como nacio Adopt-Me! Una plataforma web con la finalidad de consolidar la BDD de los diferentes refugios y perreras para promover la adopción
                y el reencuentro de los perdidos con sus familias. 
                Nuestra web cuenta con una interfaz de usuario que muestra un catalogo con todos los amigos que buscan un hogar.  También tiene un buscador de Amigo Ideal 
                donde podrás filtrar las diferentes cualidades que se adecuen a sus preferencias y nosotros le sugeriremos cual es el amigo que mas se adecua a las mismas. 
                podras agendar una cita de acercamiento donde ambos se conozcan y finalmente firmaras un compromiso de amistad como muestra de tu lealtad con el nuevo miembro de la familia.
                <br>

                Nuestra web tambien cuenta con un Buscador de tu mejor amigo, para ayudarte a encontrarlo en caso de que se haya perdido. 
                Solo debes filtrar los rasgos característicos en nuestro buscador que iniciara una búsqueda en nuestra BDD y el resultado te mostrara fotos de los últimos amigos que encontramos que coinciden con tu descripción. Si sospechas que uno de ellos puede ser tu amigo, deberás clicar el botón para dar aviso y así podrás programar una cita de reencuentro. 
                <br>
                
                En Adopt-Me te capacitamos para entender el mundo animal, fomentar el buen comportamiento y facilitar la convivencia con tu amigo. Podes inscribirte en nuestra web!

                Entre las diferentes capacitaciones que brindamos están: 

                Adiestramiento canino
                Adiestramiento felino
                Mi primera mascota
                Primeros auxilios
                Conducto animal
                <br>

                Organizamos visitas escolares como una actividad pensada para concientizar y enseñar la responsabilidad del cuidado de un animal como ser vivo y sintiente. 
                En cuanto al compromiso de tener un amigo en casa debidamente vacunado, identificado con algún collar con teléfono de ser necesario y la importancia de la castración.  
                También buscamos sensibilizar, desde la edad escolar, sobre el maltrato animal con el fin de revertir situaciones de abandono y violencia hacia nuestros amigos<br>

                Queremos que seas parte de nuestra familia!
                
                <br>
                <br>
              
            </p>
        </div> 
    </body>
</html>

{% endblock %}